@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  top: -125px;
  transition: 0.5s;
  z-index: 555;
  background-color: #fafafa;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}

nav a {
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li a {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid transparent;
}

.nav-ul li a:hover {
  border: 1px dotted black;
}

.nav-ul li {
  margin: 0.5rem 0;
}

.burger {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: black;
}

.burger:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.display {
    display: flex;
  }

  .burger {
    display: block;
  }
}

/* Generel */
.generel-margin {
  margin: 2.5vh 5vw 13vh 5vw;
}

p {
  background-position: left;
  background-size: 0% 100%;
}

p:hover {
  background-size: 100% 100%;
}

.focuspoint {
  align-items: center;
  text-align: center;
  padding: 3vh 1.5rem 7vh 1.5rem;
}

/* First page */
.first-page {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  min-height: 84vh;
  justify-content: space-between;
  align-items: center;
}

.first-page-sec h1 {
  font-size: 74px;
  color: transparent;
  -webkit-text-stroke: 0.5px #6a5fb2;
  text-shadow: 3px 3px #a5c6f9;
  margin: 0;
}

.first-page-sec p {
  margin-top: -10px;
}

.first-page-sec img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  min-width: 200px;
  width: 50%;
  max-width: 300px;
  border-radius: 50%;
}

.introduction-button {
  text-align: center;
  margin: 5% 0;
}

.introduction-button p {
  margin-top: 0;
}

.first-page a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#introduction-button {
  color: #fafafa;
  list-style-type: none;
  text-decoration: none;
}

.fa-arrow-down {
  color: black;
  font-size: 12px;
}

/* Second page - Focuspoints */
.second-page {
  min-height: 100vh;
}

.focus-color {
  color: #a5c6f9;
  -webkit-text-stroke: 0.1px #a5c6f9;
}

.blue-focuspoint {
  border: 1px solid #a5c6f9;
}

.projects-h2-color {
  color: #6a5fb2;
  -webkit-text-stroke: 0.1px #6a5fb2;
}

.purple-projects {
  border: 1px solid #6a5fb2;
}

#coffee {
  color: #8a624a;
}

.project-color {
  color: #6a5fb2;
}

.contact-h2-color {
  color: black;
  -webkit-text-stroke: 0.1px black;
}

.second-page br {
  width: 100%;
  border: 1px solid black;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 90px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marquee-space {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
}

.marquee-space:hover {
  animation-direction: reverse;
}

hr {
  margin: 8px 0vw 0 0vw;
}

.marquee-content {
  font-size: 62px;
  font-weight: 600;
  margin: 0;
}

.marquee-content:hover {
  color: transparent;
  transition: all 0.3s ease;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.focuspoints {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 7.5vh 10vw 13vh 10vw;
  border-radius: 5px;
}

.focuspoint-top-h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.minus-top {
  margin-top: 0;
}

.plus-bottom {
  margin-bottom: 4vh;
}

.focuspoint-about {
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 16px;
  color: #2d81ff;
}

.focuspoint:nth-child(1),
.focuspoint:nth-child(2) {
  border-bottom: 1px dotted #a5c6f9;
}

.focuspoint-icon {
  height: 55px;
}

/* Third page - Projects */
.third-page {
  min-height: 100vh;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.project h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.project p {
  margin-top: -5px;
  font-size: 14px;
  margin-bottom: 0;
}

.blue-header {
  color: #2d81ff;
  font-size: 14px;
}

.projects-img {
  margin-top: 0;
  margin-bottom: 10vh;
  padding: 2vh;
  border-radius: 5px;
  box-shadow: 0px 6px 13px 9px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 6px 13px 9px rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0px 6px 13px 9px rgba(255, 255, 255, 0.85);
}

.img-blue {
  background-color: #a8c9ea;
}

.img-grey {
  background-color: #ededed;
}

.img-orange {
  background-color: #ffe6d1;
}

.projects-img img {
  max-width: 100%;
}

/* Third page - modals */
.modal {
  display: none;
  position: fixed;
  z-index: 556;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fefefe;
  overflow: scroll;
  transition: 2s;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: black;
  font-size: 16px;
  border: 1px solid black;
  padding: 10px 15px;
  margin: 5vh auto;
  bottom: 5px;
  display: block;
  background: transparent;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 1px dotted black;
}

.modal-main-content {
  display: flex;
  flex-direction: column-reverse;
}

.modal-text {
  align-items: flex-start;
  text-align: start;
  width: 90%;
  margin: 5vh auto;
  max-width: 650px;
}

.modal-text h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.modal-text p {
  margin-top: 0;
  font-size: 0.9rem;
}

#modalBtn01,
#modalBtn02,
#modalBtn03 {
  border: 1px dotted transparent;
}

#modalBtn01:hover,
#modalBtn02:hover,
#modalBtn03:hover {
  border: 1px dotted #6a5fb2;
  transition: 0.1s;
  cursor: pointer;
}

/* Third page - slideshow */
.modal-slideshow {
  position: relative;
  min-height: 50vh;
  text-align: start;
  display: flex;
  margin: 5vh auto 0 auto;
  min-width: 90vw;
  max-width: 650px;
}

.mySlides {
  display: none;
  height: auto;
  margin: auto;
  max-height: 50vh;
}

.mySlides img {
  margin: auto;
  max-width: 75vw;
  max-height: 50vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-size: 18px;
  user-select: none;
  border: 1px solid transparent;
}

.prev:hover,
.next:hover {
  border: 1px dotted black;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/*Fourth page*/
.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

select,
input[type="text"],
textarea {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

input[type="submit"] {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 10px 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px dotted black;
}

.contact-form {
  padding: 20px;
}

.contact-form label {
  font-weight: 600;
}

.contact-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last-name {
  margin-top: 25px;
}

.last-name,
.first-name {
  width: 45%;
}

/* Fourth page */
.fourth-page {
  min-height: 92vh;
}

.contact article {
  padding: 20px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  max-width: 1024px;
  margin-bottom: 4vh;
}

.right-footer a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 24px;
  border: 1px dotted transparent;
  padding: 10px 15px;
}

.right-footer a:hover {
  border: 1px dotted black;
}

/* Media query */
@media screen and (min-width: 500px) {
  .generel-margin {
    margin: auto;
    max-width: 68%;
    margin-top: 5vh;
  }

  .modal-slideshow {
    min-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .generel-margin {
    margin: auto;
    max-width: 1024px;
    margin-top: 5vh;
  }

  .web-design-p {
    min-height: 100px;
  }

  .projects-img img {
    height: 25em;
  }

  .projects {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
  }

  .projects-img img {
    max-height: 450px;
    width: auto;
  }

  .nav-container {
    max-width: 1024px;
    margin: auto;
    padding: 5px 15px;
  }

  .first-page-sec {
    display: flex;
    flex-direction: row;
  }

  .first-page-sec p {
    position: relative;
    font-size: 32px;
    z-index: 999;
  }

  .first-page-sec img {
    position: relative;
    display: block;
    margin-left: -100px;
    margin-right: auto;
    margin-top: 25vh;
    min-width: 200px;
    width: 100%;
    z-index: 1;
  }

  .first-page {
    padding-top: 10vh;
  }

  /* Modal */
  .modal-main-content {
    flex-direction: row;
    height: 88vh;
    margin: 0 7.5vw;
  }

  .modal-slideshow {
    margin: auto;
  }

  .close {
    margin-left: 0;
  }

  .modal-text h2 {
    font-size: 2em;
    margin-bottom: 0;
  }

  .modal-text p {
    margin-top: 0;
    font-size: 1rem;
  }

  .modal-text,
  .modal-slideshow {
    width: 50%;
  }

  .modal-text {
    margin: auto;
  }

  /* Focuspoints */
  .focuspoints {
    flex-direction: row;
    margin: 10vh auto;
    max-width: 1024px;
  }

  .focuspoint {
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }

  .focuspoint:nth-child(1),
  .focuspoint:nth-child(2) {
    border-bottom: 0;
    border-right: 1px dotted #a5c6f9;
  }

  .focuspoint {
    align-items: center;
    text-align: center;
  }

  /* Contact */
  .contact {
    flex-direction: row;
    padding-bottom: 5vh;
  }

  .contact article,
  .contact-form {
    width: 50%;
  }

  .contact article h2,
  .contact article p {
    font-size: 42px;
  }

  .contact article {
    padding: 0;
  }

  footer {
    flex-direction: row;
    margin-bottom: 0;
  }
}
